@{
    ViewData["Title"] = "Home Page";
}


<div class="home">
    <div class="home-container">
        <div class="home-box">
            <h1 id="greeting">Welcome To Acebook</h1>
            <div class="home-buttons">
                <a href="/signup" id="signup">Sign Up</a>
                <a href="/signin" id="signin">Sign In</a>
            </div>
        </div>
    </div>
</div>
