@model acebook.Models.Friendship
@using acebook.Models

@{
    ViewData["Title"] = "Friendship Page";
}

<div class="text-center">
    <h1>Your Acebook Friendships</h1>

    <a href="@Url.Action("SendFriendRequest", "Friendships")" class="btn btn-primary">Add a Friend</a>

    <h2>Requests:</h2>
    @foreach (var friendship in ViewBag.CurrentUsersFriendships)
    {
        <div> You have a request from: @friendship.User1Id </div>
    }

    

</div>