.change-password-button {
    margin-top: 20px; /* Adjust the value to move the button down */
    background-color: rgb(3, 3, 3);
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }
  
  .change-password-button:hover {
    background-color: #bd96e1; /* Slightly lighter black for hover effect */
  }